:root{
    --blanco: #fff;
    --negro: #2121;
    --gris: #757575;
    --segundario: #009797;


}

html{
    font-size: 100%;
}
*,*:before, *:after{
    box-sizing: inherit;

}
body{
    font-size: 16px;
    font-family: "krub",sans-serif ;
}
/*hearder*/
.nav-bg{
  width:100%; /* Establecemos que el header abarque el 100% del documento */
  overflow:hidden; /* Eliminamos errores de float */
  background: var(--gris);
  margin-bottom:1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-principal-contenedor{

    display: flex;
    justify-content: column;

}
@media(min-width: 768px){
    .nav-principal-contenedor{
        flex-direction: row;
        justify-content: space-between;
    }
}
.nav-principal-contenedor a{
    color: var(--blanco);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
     
 }
 .nav-principal-contenedor a:hover{
    background-color: var(--blanco);
    color:var(--negro);
}
.nav-principal-contenedor a :last-of-type{
    margin-bottom: 0%;

}
#titulo{
    font-family: "Homer Simpson UI";
    color: var(--blanco);
    justify-content:left; 
    
}
.imagen{
    height: 600px;
    width: 100%;
    background-image: url(../IMG/imagen3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    margin-bottom: 2rem;
  
}
.contenido-imagen{
    background-color: rgb(0,0,0,0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: none;

}
/*servicios*/
#s1{
    float: left;
    width: 30%;
}
#s2{
    float: left;
    width: 30%;
    align-items: center;
}
#s3{
    align-items: center;
}

/*footer*/

#final{

     background-color: #757575;
     color: var(--blanco);
     height: 47px;
     text-align: center;
     padding: 10px;
     margin-top: 10px;
}

/*pagina de registro*/
#btn-registrar,#boton{
    background-color: var(--segundario) ;
    color: var(--blanco);
    margin-top: 0.5rem;
    padding: 00.5rem 3rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
    border: none;
}
.contacto{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
   
    background-color: beige;
}

#form-registro {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
#nombre, #apellido, #telefono, #correo, #contraseña {
    width: 90%;
    height: 30px;
    margin: 0.5rem;
    border-radius:none;
    background-color:darkgrey;
    border-radius: 5px;
    font-weight: 700;


}



